* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: white;
}

#Dark {
  --main-color: black;
  --second-color: white;
  --slider-background: #111;
  --box-shadow-slider: rgba(0, 0, 0, 1);
  --select-box-bg: #101010;
  --select-box-bg-hover: #1a1a1a;
  --select-text: #f5f6fa;
  --arrow: url("assets/arrow-down-white.svg");
}

#Light {
  --main-color: white;
  --second-color: black;
  --slider-background: rgb(245, 245, 245);
  --box-shadow-slider: rgb(223, 223, 223);
  --select-box-bg: #efefef;
  --select-box-bg-hover: #e2e2e2;
  --select-text: #121212;
  --arrow: url("assets/arrow-down-black.svg");
}

#Blue {
  --main-color: rgb(28, 111, 255);
  --second-color: white;
  --slider-background: rgb(50, 125, 254);
  --box-shadow-slider: rgb(34, 113, 250);
  --select-box-bg: rgb(18, 89, 213);
  --select-box-bg-hover: rgb(14, 77, 186);
  --select-text: #f5f6fa;
  --arrow: url("assets/arrow-down-white.svg");
}

#Green {
  --main-color: #031916;
  --second-color: white;
  --slider-background: #021210;
  --box-shadow-slider: #021412;
  --select-box-bg: #021412;
  --select-box-bg-hover: #02100e;
  --select-text: #f5f6fa;
  --arrow: url("assets/arrow-down-white.svg");
}

#theme-container {
  margin-top: 90px;
}

#style-container {
  margin-top: 10px;
}

#sound-container {
  margin-top: 10px;
}

#themes {
  color: var(--second-color);
}

.container {
  margin-top: 100px;
  padding: 32px;
}

.select-box {
  display: flex;
  width: 100px;
  flex-direction: column;
}

.select-box-styles {
  display: flex;
  width: 100px;
  flex-direction: column;
}

.select-box-sounds {
  display: flex;
  width: 100px;
  flex-direction: column;
}

.select-box .options-container-themes {
  background: var(--select-box-bg);
  color: var(--select-text);
  max-height: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.4s;
  border-radius: 8px;
  overflow: hidden;

  order: 1;
}

.select-box-styles .options-container-themes {
  background: var(--select-box-bg);
  color: var(--select-text);
  max-height: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.4s;
  border-radius: 8px;
  overflow: hidden;

  order: 1;
}



.select-box .options-container-styles {
  background: var(--select-box-bg);
  color: var(--select-text);
  max-height: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.4s;
  border-radius: 8px;
  overflow: hidden;

  order: 1;
}

.select-box-styles .options-container-styles {
  background: var(--select-box-bg);
  color: var(--select-text);
  max-height: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.4s;
  border-radius: 8px;
  overflow: hidden;

  order: 1;
}

.select-box .options-container-sounds {
  background: var(--select-box-bg);
  color: var(--select-text);
  max-height: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.4s;
  border-radius: 8px;
  overflow: hidden;

  order: 1;
}

.select-box-styles .options-container-sounds {
  background: var(--select-box-bg);
  color: var(--select-text);
  max-height: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.4s;
  border-radius: 8px;
  overflow: hidden;

  order: 1;
}

.selected-container {
  display: flex;
  width: 120px;
}

.selected-theme {
  background: var(--main-color);
  border-radius: 8px;
  margin-bottom: 8px;
  color: var(--select-text);
  position: relative;
  text-align: center;

  order: 0;
}

.selected-style {
  background: var(--main-color);
  border-radius: 8px;
  margin-bottom: 8px;
  color: var(--select-text);
  position: relative;
  text-align: center;

  order: 0;
}

.selected-sound {
  background: var(--main-color);
  border-radius: 8px;
  margin-bottom: 8px;
  color: var(--select-text);
  position: relative;
  text-align: center;

  order: 0;
}

.selected-theme::after {
  content: "";
  background: var(--arrow);
  background-size: contain;
  background-repeat: no-repeat;

  position: absolute;
  height: 100%;
  width: 20px;
  right: 5px;
  top: 7px;

  transition: all 0.4s;
}

.selected-style::after {
  content: "";
  background: var(--arrow);
  background-size: contain;
  background-repeat: no-repeat;

  position: absolute;
  height: 100%;
  width: 20px;
  right: 5px;
  top: 7px;

  transition: all 0.4s;
}

.selected-sound::after {
  content: "";
  background: var(--arrow);
  background-size: contain;
  background-repeat: no-repeat;

  position: absolute;
  height: 100%;
  width: 20px;
  right: 5px;
  top: 7px;

  transition: all 0.4s;
}

.select-box .options-container-themes.active {
  max-height: 240px;
  opacity: 1;
  overflow-y: scroll;
}


.select-box .options-container-themes.active + .selected-theme::after {
  transform: rotateX(180deg);
  top: -6px;
}



.select-box .options-container-themes::-webkit-scrollbar {
  width: 8px;
  background: var(--select-box-bg);
  border-radius: 0 8px 8px 0;
  display: none;
}


.select-box .options-container-themes::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 0 8px 8px 0;
}

.select-box-styles .options-container-styles.active {
  max-height: 240px;
  opacity: 1;
  overflow-y: scroll;
}



.select-box-styles .options-container-styles.active + .selected-theme::after {
  transform: rotateX(180deg);
  top: -6px;
}

.select-box-styles .options-container-styles::-webkit-scrollbar {
  width: 8px;
  background: var(--select-box-bg);
  border-radius: 0 8px 8px 0;
  display: none;
}

.select-box-styles .options-container-styles::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 0 8px 8px 0;
}

.select-box .options-container-sounds.active {
  max-height: 240px;
  opacity: 1;
  overflow-y: scroll;
}

.select-box .options-container-sounds.active + .selected-theme::after {
  transform: rotateX(180deg);
  top: -6px;
}

.select-box .options-container-sounds::-webkit-scrollbar {
  width: 8px;
  background: var(--select-box-bg);
  border-radius: 0 8px 8px 0;
  display: none;
}

.select-box .options-container-sounds::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 0 8px 8px 0;
}

.select-box .option,
.selected-theme {
  padding: 5px 24px;
  cursor: pointer;
  text-align: center;
}

.select-box-styles .style-option,
.selected-style {
  padding: 5px 24px;
  cursor: pointer;
  text-align: center;
}

.select-box .option:hover {
  background: var(--select-box-bg-hover);
}

.select-box-styles .style-option:hover {
  background: var(--select-box-bg-hover);
}

.select-box label {
  cursor: pointer;
  font-size: 14px;
  text-align: center;
  padding-left: 0;
}

.select-box-styles label {
  cursor: pointer;
  font-size: 14px;
  text-align: center;
  padding-left: 0;
}

.select-box .option .radio {
  display: none;
  text-align: center;
}

.select-box-styles .option-style .radio {
  display: none;
  text-align: center;
}


.radio {
  display: none;
}

#back {
  display: flex;
  text-decoration: none;
  text-align: center;
  margin-top: 0px;
  justify-content: center;
  color: var(--second-color);
  bottom: 10px;
  z-index: 0;
  margin-top: 80px;
}
